<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            Blogify
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <% if (locals.user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/blog/add-new">Write Blog</a>
                    </li>
                    <li class="nav-item">
                        <div class="d-flex align-items-center">
                            <img src="<%= user.profileImage %>" alt="Profile" class="rounded-circle me-2" style="width: 32px; height: 32px;">
                            <span class="me-3"><%= user.fullName %></span>
                            <a href="/user/logout" class="btn btn-outline-primary">Logout</a>
                        </div>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signin">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="/user/signup">Sign Up</a>
                    </li>
                <% } %>
            </ul>
            <button id="darkModeToggle" class="btn btn-outline-light ms-3" type="button" title="Toggle dark mode">🌙</button>
        </div>
    </div>
</nav>
<% if(locals.error){%><div class="container mt-4">
  
<div class="alert alert-danger" role="alert">
  invalid email or password
</div>


</div> <%}%>

